*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 99;
}

nav{
    display: flex; /*abilita un contesto flessibile per tutti i suoi oggetti*/
    /*justify-content: space-between; !* distribuisci gli oggetti in modo uniforme:*/
    /*                                  il primo elemento è a filo con l'inizio,*/
    /*                                  l'ultimo è a filo con la fine*!*/
    justify-content:flex-end; /*gli oggetti vengono imballati verso la fine della direzione flessibile*/
    align-items: center; /*mette gli oggetti intorno al centro*/
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-right: 20px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover{
    text-decoration: underline;
}

/****************************************************/

/*nav .btnLogin-popup {*/
/*    margin-left: 20px;*/
/*    background: transparent;*/
/*    border: 2px solid #FFFFFF;*/
/*    width: 100px;*/
/*    height: 50px;*/
/*    outline: none;*/
/*    border-radius: 6px;*/
/*    cursor: pointer;*/
/*    font-size: 1.1em;*/
/*    color: #FFFFFF;*/
/*    font-weight: 500;*/
/*}*/

/*nav .btnLogin-popup:hover{*/
/*    background: #FFFFFF;*/
/*    color: #162938;*/
/*}*/

/*******************************************************/

main{
    max-width: 1200px;
    margin: 50px auto;
}

.hero-image{
    background-image: url("../files/sfondo_home1.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px;
}

.hero-image h1{
    color: antiquewhite;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-image p{
    color: #cccccc;
    font-size: 24px;
    margin-bottom: 50px;
}

.hero-image button{
    background-color: #d35400;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

/*********************************************************/

/*.wrapper{*/
/*    position: absolute;*/
/*    width: min-content;*/
/*    height: min-content;*/
/*    text-align: center;*/
/*    top: 30%;*/
/*    left: 50%;*/
/*    !*!*height: 440px;*!*!*/
/*    background: transparent;*/
/*    border: 2px solid rgba(255, 255, 255, .5);*/
/*    border-radius: 20px;*/
/*    backdrop-filter: blur(100px);*/
/*    box-shadow: 0 0 30px rgba(0, 0, 0, .5);*/
/*    overflow: hidden;*/
/*    transform: scale(0);*/
/*    transition: transform .5s ease;*/
/*}*/

/*.wrapper.active-popup{*/
/*    transform: scale(1);*/
/*}*/

/*.wrapper .form-box{*/
/*    width: max-content;*/
/*    padding: 40px;*/
/*    text-align: center;*/
/*}*/

/*.wrapper .icon-close{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    font-size: 2em;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: #cccccc;*/
/*    border-bottom-left-radius: 20px;*/
/*    cursor: pointer;*/
/*    z-index: 1;*/
/*}*/

/*.icon-close:hover{*/
/*    background: #FFFFFF;*/
/*    color: #162938;*/
/*}*/

/*.form-box h2{*/
/*    font-size: 2em;*/
/*    color: #cccccc;*/
/*    text-align: center;*/
/*}*/

/*.input-box{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    border-bottom: 2px solid;*/
/*    margin: 30px 0;*/
/*    text-align: left;*/
/*}*/

/*.input-box label{*/
/*    position: absolute;*/
/*    color: #cccccc;*/
/*    top: 50%;*/
/*    left: 5px;*/
/*    transform: translateY(-50%);*/
/*    font-size: 1em;*/
/*    font-weight: 500;*/
/*    pointer-events: none;*/
/*    transition: .5s;*/
/*}*/

/*.input-box input:focus~label,*/
/*.input-box input:valid~label{*/
/*    top: -5px;*/
/*}*/

/*.input-box input{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: transparent;*/
/*    border: none;*/
/*    outline: none;*/
/*    font-size: 1em;*/
/*    color: #cccccc;*/
/*    font-weight: 600;*/
/*    padding: 0 35px 0 5px;*/
/*}*/

/*.input-box .icon{*/
/*    position: absolute;*/
/*    right: 8px;*/
/*    bottom: 18px;*/
/*    font-size: 1.2em;*/
/*    color: #cccccc;*/
/*}*/

/*.rememberMe{*/
/*    font-size: .9em;*/
/*    font-weight: 500;*/
/*    margin: -15px 0 15px;*/
/*    color: #cccccc;*/
/*    display: flex;*/
/*}*/

/*.rememberMe label input{*/
/*    accent-color: #162938;*/
/*    margin-right: 3px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.btnLogin{*/
/*    !*height: 45px;*!*/
/*    cursor: pointer;*/
/*    background-color: #d35400;*/
/*    color: #fff;*/
/*    font-size: 18px;*/
/*    padding: 10px 30px;*/
/*    border-radius: 25px;*/
/*    border: none;*/
/*    outline: none;*/
/*    font-weight: 500;*/
/*}*/

/*.register p{*/
/*    text-align: left;*/
/*    font-size: .9em;*/
/*    font-weight: 500;*/
/*    margin: 25px 0 10px;*/
/*    color: #ffffff;*/
/*}*/

/*.register-link{*/
/*    color: #cccccc;*/
/*    text-decoration: none;*/
/*}*/

/*.register a:hover{*/
/*    text-decoration: underline;*/
/*}*/

/****************************************************************/

.desc{
    padding-top: 20px;
}

.desc h2{
    text-align: center;
    font-size: 36px;
}

.container{
    margin-top: 30px;
}

.container h2{
    text-align: center;
    font-size: 36px;
    /*position: absolute; !*consente di rimuovere un elemento dal flusso naturale della pagina,*/
    /*                      gli altri elementi vengono influenzati e si comportano come*/
    /*                      se l'elemento sia stato completamente rimosso dalla pagina*!*/
    margin-bottom: 30px;
}

.services{
    /*align-items: start;*/

    /*justify-content: space-between;*/
    /*flex-wrap: wrap; !*imposta se gli elementi flex sono forzati su una riga o possono andare a capo su più righe.*/
    /*                   Se l'avvolgimento è consentito, imposta la direzione in cui le righe vengono impilate.*!*/
    /*flex-direction: row;*/
    /*margin-top: 50px;*/
    /**/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: row;
}

.service{
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 300px;

    /*flex: 50%;*/
}

.service img{
    width: 150px;
    height: 150px;
    object-fit: cover; /*proprietà imposta come il contenuto di un elemento sostituito,
                         il contenuto sostituito viene dimensionato per mantenere le proporzioni mentre riempie
                         l'intera casella del contenuto dell'elemento*/
    margin-bottom: 20px;
    border-radius: 50%;
}

.service h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.service p{
    font-size: 16px;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}