*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 99;
}

nav{
    display: flex; /*abilita un contesto flessibile per tutti i suoi oggetti*/
    /*justify-content: space-between; !* distribuisci gli oggetti in modo uniforme:*/
    /*                                  il primo elemento è a filo con l'inizio,*/
    /*                                  l'ultimo è a filo con la fine*!*/
    justify-content:flex-end; /*gli oggetti vengono imballati verso la fine della direzione flessibile*/
    align-items: center; /*mette gli oggetti intorno al centro*/
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-right: 20px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover{
    text-decoration: underline;
}

main{
    max-width: 1200px;
    margin: 50px auto;
    display: block;
}

.faq {
    max-width: 600px;
    margin: 0 auto;
}

.faq h2 {
    font-size: 2rem;
    text-align: center;
}

.faq ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.faq li {
    margin: 20px 0;
}

.faq .question {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.faq .answer {
    display: none;
    font-size: 1rem;
    padding: 10px;
}

.faq .answer.show {
    display: block;
}

.btnBack{
    /*height: 45px;*/
    cursor: pointer;
    background-color: #d30000;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight: 500;
    /*align-items: center;*/
    text-align: center;
    align-items: center;
    display: block;
    margin: 10px auto;
}

.btnBack:hover{
    background: #cccccc;
    color: black;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    align-content: center;
}
