/*@import url('https://fonts.googleapis.com/css?family=Arial&display=swap');*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 99;
}

nav{
    display: flex; /*abilita un contesto flessibile per tutti i suoi oggetti*/
    /*justify-content: space-between; !* distribuisci gli oggetti in modo uniforme:*/
    /*                                  il primo elemento è a filo con l'inizio,*/
    /*                                  l'ultimo è a filo con la fine*!*/
    justify-content:flex-end; /*gli oggetti vengono imballati verso la fine della direzione flessibile*/
    align-items: center; /*mette gli oggetti intorno al centro*/
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-right: 20px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover{
    text-decoration: underline;
}

/*body{*/
/*    background-image: url("../files/sfondo_login.jpg");*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    padding: 100px;*/
/*}*/

main{
    max-width: 1200px;
    margin: 50px auto;
    background-image: url("../files/sfondo_login.jpg");
    background-position: center;
    background-size: cover;
    padding: 100px;
}

/*header h1{*/
/*    color: antiquewhite;*/
/*    font-size: 50px;*/
/*    margin-bottom: 20px;*/
/*}*/

.wrapper{
    position: relative;
    /*width: min-content;*/
    /*height: min-content;*/
    text-align: center;

    margin: 0 auto;
    /*max-width: 350px;*/
    max-width: min-content;
    max-height: min-content;

    /*height: 440px;*/
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
}


.wrapper .form-box{
    width: max-content;
    padding: 40px;
    text-align: center;
}

/*.wrapper .icon-close{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 45px;*/
/*    height: 45px;*/
/*    font-size: 2em;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: #cccccc;*/
/*    border-bottom-left-radius: 20px;*/
/*    cursor: pointer;*/
/*    z-index: 1;*/
/*}*/

/*.icon-close:hover{*/
/*    background: #FFFFFF;*/
/*    color: #162938;*/
/*}*/

.form-box h2{
    font-size: 2em;
    color: #cccccc;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
    text-align: left;
    color: #cccccc;
}

.input-box label{
    position: absolute;
    color: #cccccc;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #cccccc;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    bottom: 18px;
    font-size: 1.2em;
    color: #cccccc;
}

.rememberMe{
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    color: #cccccc;
    display: flex;
}

.rememberMe label input{
    accent-color: #162938;
    margin-right: 3px;
    margin-bottom: 10px;
}

.btnLogin{
    /*height: 45px;*/
    cursor: pointer;
    background-color: #d35400;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight: 500;
}

.btnLogin:hover{
    background: #cccccc;
    color: black;
}

.register p{
    font-size: .9em;
    font-weight: 500;
    margin: 25px 0 10px;
    color: #ffffff;
}

.register-link{
    color: #cccccc;
    text-decoration: none;
}

.register a:hover{
    text-decoration: underline;
}

/**********************************************************************/

/*.container {*/
/*    background-color: #cccccc;*/
/*    !*border-radius: 10px;*!*/
/*    !*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*!*/
/*    margin: 100px auto;*/
/*    max-width: 350px;*/
/*    max-height: max-content;*/
/*    padding: 30px;*/
/*    text-align: center;*/

/*    !*background: transparent;*!*/
/*    border: 2px solid rgba(255, 255, 255, .5);*/
/*    border-radius: 20px;*/
/*    backdrop-filter: blur(100px);*/
/*    box-shadow: 0 0 30px rgba(0, 0, 0, .5);*/
/*}*/

/*.container form{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    border-bottom: 2px solid;*/
/*    margin: 30px 0;*/
/*    text-align: left;*/
/*}*/

/*.container form label{*/
/*    position: absolute;*/
/*    color: #cccccc;*/
/*    top: 50%;*/
/*    left: 5px;*/
/*    transform: translateY(-50%);*/
/*    font-size: 1em;*/
/*    font-weight: 500;*/
/*    pointer-events: none;*/
/*    transition: .5s;*/
/*}*/

/*.container form input:focus~label,*/
/*.container form input:valid~label{*/
/*    top: -5px;*/
/*}*/



/*.container h1 {*/
/*    color: black;*/
/*    font-size: 36px;*/
/*    font-weight: bold;*/
/*    margin-bottom: 30px;*/
/*}*/

/*label {*/
/*    display: block;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    margin-bottom: 10px;*/
/*    text-align: left;*/
/*}*/

/*input {*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    font-size: 16px;*/
/*    margin-bottom: 20px;*/
/*    padding: 10px;*/
/*    width: 100%;*/
/*}*/

/*!*button {*!*/
/*!*    background-color: #ff69b4;*!*/
/*!*    border: none;*!*/
/*!*    border-radius: 10px;*!*/
/*!*    color: white;*!*/
/*!*    cursor: pointer;*!*/
/*!*    font-size: 18px;*!*/
/*!*    font-weight: bold;*!*/
/*!*    padding: 10px 20px;*!*/
/*!*    transition: background-color 0.2s;*!*/
/*!*}*!*/

/*button{*/
/*    background-color: #d35400;*/
/*    color: #fff;*/
/*    font-size: 18px;*/
/*    padding: 10px 30px;*/
/*    border-radius: 25px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*button:hover {*/
/*    background-color: #ff6dab;*/
/*}*/

footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}