/*
    Barra di ricerca
 */
.search-container {
    position: relative;
    justify-content: center;
    margin: 30px auto;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 30%;
}

.search-wrapper {
    position: relative;
    display: flex;
}

.search-wrapper input[type="text"] {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    width: 100%;
    border-radius: 50px;
}

.search-wrapper button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.search-wrapper button img {width: 17px; height: 17px;}
