/* --------------------------------------------
    impostazioni di base per tutte le pagine
------------------------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 99;
}

/*
    Navigation Bar (navbar): basata sull'uso del Flexbox Layout (attivabile tramite il valore "flex" di display).
    Viene usata per creare un layout dove gli elementi contenuti in questo si adattano in automatico al loro contenitore
    padre. In questo caso viene usato perchè le due parti della navigation bar devono apparire sulla stessa riga (senza
    spostarsi una sotto l'altra) e gli elementi contenuti devono essere allineati al centro.
    Ognuna delle due colonne contenute occupa il 50% dello spazio.
*/
nav{
    display: flex;
    align-items: center; /* gli elementi contenuti saranno allineati verticalmente al centro */
    text-decoration: none;
}

.navbar-logo-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.navbar-logo  {vertical-align: bottom; width: 170px; margin-right: 10px;}
.navbar-title {display: inline;}

/* gli elementi di questo contenitore sono disposti da destra verso sinistra, anzichè il contrario */
.navbar-links-container {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

nav ul               {display: flex; list-style: none;}
nav ul li            {margin-right: 20px;}

/* l'ultimo elemento della lista non ordinata (UL, Unordered List) non avrà margine a destra, per evitare problemi grafici */
nav ul li:last-child {margin-right: 0;}

nav ul li a          {color: #fff; text-decoration: none; font-size: 1.1em;}
nav ul li a:hover    {text-decoration: underline;}

/*
    Main: è l'area della pagina che contiene il corpo della pagina (quello che viene inserito dinamicamente con Blade e Laravel)
*/
main {margin: 50px 10%;}

/*
    Questa classe grafica conferisce ad ancore (<a>) e pulsanti (<button>) un aspetto estetico da pulsante cliccabile.
*/
.btn {
    background-color: #d35400;
    color: #fff;
    font-size: 18px;
    padding: 13px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;    /* assegna il cursore della "manina" a questo elemento */
    text-decoration: none;
}

.btn:hover{
    background: #cccccc;
    color: black;
}

/*
    "container" contiene il corpo testuale della pagina e in generale contenuti standard (quindi nessun contenuto in
    primo piano o contenuto particolarmente rilevante)
 */
.container        {margin-top: 30px; text-align: center;}
.container h1, h2 {text-align: center}
.container h2     {font-size: 36px;}
/* se il container contiene un elemento aside (un menu di navigazione che giace ai lati della pagina) questi dovrà assumere
il flexbox layout per poter visualizzare allo stesso livello sia l'aside che il corpo della pagina */
.with-aside {display: flex;}

/* "desc" contiene del contenuto descrittivo alla pagina, ad esempio, dei testi introduttivi */
.desc{
    padding-top: 20px;
    display: block;
    flex-wrap: wrap; /*mposta se gli elementi flex sono forzati su una riga o possono andare a capo su più righe.*/
                     /*Se l'avvolgimento è consentito, imposta la direzione in cui le righe vengono impilate.*/
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: row;
    text-align: center;
}
.desc h2{text-align: center; font-size: 36px; margin-bottom: 20px;}
.desc p{margin-bottom: 10px; font-size: 20px;}

/*
    Aside Navigation Bar (aside-nav): barra di navigazione posta a sinistra del contenuto. Viene usata nel catalogo per filtrare le offerte
    in base all'azienda specifica che si desidera (o anche per tutte le aziende)
 */
aside {
    width: 40%;
    background-color: #fff;
    padding: 20px;
    text-align: left;
}
.aside-nav h2 {text-align: left;}
.aside-nav ul{list-style: none; padding: 0; margin: 0;}
.aside-nav li{margin-bottom: 10px;}
.aside-nav a{text-decoration: none; color: #333; font-size: 1.2em; display: block; padding: 5px; border-radius: 5px;}
.aside-nav a:hover{background-color: #f2f2f2;}

/* ----------------------------------------------------
        impostazioni specifiche per home page
----------------------------------------------------- */
.hero-image{
    background-image: url("../images/home_wall.jpeg");
    background-position: bottom;
    background-size: cover;
    text-align: center;
    padding: 100px;
}

.hero-image h1{
    color: antiquewhite;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-image p{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

/*
    Card Deck: contiene le Card, ovvero un insieme di elementi graficamente rappresentati come delle "carte"
 */
.card-deck{
    display: flex;
    flex-wrap: wrap; /* imposta se gli elementi flex sono forzati su una riga o possono andare a capo su più righe. */
                     /* Se l'avvolgimento è consentito, imposta la direzione in cui le righe vengono impilate. */
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card{
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

/* l'immagine dell'azienda viene impostata ad una dimensione fissa (150x150 px) e il suo contenuto viene riadattato
automaticamente per evitare che possa apparire stretchato */
.card img {width: 150px; height: 150px; object-fit: scale-down; margin-bottom: 20px;}
.card h3  {font-size: 24px; margin-bottom: 10px;}
.card-title-link {font-size: 21px; text-decoration: none; display: block; color: black; font-weight: bold;}
.card-title-link:hover {color: #d35400;}
.card p   {font-size: 16px;}
.card-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.card-btn:hover {background-color: #d35400;}

/*.desc button{
    background-color: #d35400;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}*/

.faq              {margin-top: 17px; text-align: center}
.faq h2           {font-size: 2rem;}
.faq ul           {list-style: none; margin: 0; padding: 0;}
.faq li           {margin: 20px 0;}
.faq .question    {font-size: 1.2rem; font-weight: bold; cursor: pointer;}
.faq .answer      {display: none; font-size: 1rem; padding: 10px;}
.faq .answer.show {display: block;}

/*
    Barra di ricerca
 */

/* search-container è il contenitore della barra di ricerca */
.search-container {
    position: relative;
    justify-content: center;
    margin: 30px auto;
    align-items: center;
    background: transparent;
    max-width: 45%;
    text-align: center;
}

/* search-wrapper è la barra stessa di ricerca (l'input box per intenderci) */
.search-wrapper {
    position: relative;
    display: flex;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="date"], input[type="email"] {
    font-size: medium;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.search-wrapper input[type="text"] {
    margin-bottom: 0;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    width: 100%;
    border-radius: 50px;
}

.search-wrapper button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.search-wrapper button img {width: 17px; height: 17px;}

/*
    Form: gestione grafiche delle form, del form-box (il suo contenitore) e il wrapper (l'area che contiene tutto)
    Il form-box ha una variante, il form-box-inputdialog, che è il form impiegato in tutte le pagine che non sono la
    pagina di login (quindi in tutte le pagine dove sono richiesti molti dati in input da inviare ad una pagina)
 */
.wrapper {
    width: 100%;
    margin: 50px auto;
    background-image: url('../images/login_wall.jpeg');
    background-position: bottom;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}
.wrapper-register {background-image: url("../images/register_wall.jpg");}
.form-box {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-height: min-content;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    color: black;
    padding: 70px 40px;
    width: 430px;
}
.form-box-inputdialog {padding: 40px; width: 760px;}
.form-box-inputdialog .form-row {display: flex; text-align: left; margin-top: 25px; margin-bottom: 15px;}
.form-box-inputdialog .form-left {width: 50%; padding-right: 18px;}
.form-box-inputdialog .form-right {width: 50%; padding-left: 18px;}
.form-box-inputdialog fieldset {border: none;}
.form-box-inputdialog label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.form-box-inputdialog legend {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.form-box h2 {font-size: 30px;}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
    text-align: left;
    color: black;
}
.input-box .icon {position: absolute; right: 8px; bottom: 18px; font-size: 1.2em; color: black;}
.input-box input {width: 100%; height: 100%; background: transparent; border: none; outline: none; font-size: 1em; color: black; padding: 0 35px 0 5px;}
.input-box label {position: absolute; color: black; top: 50%; left: 5px; transform: translateY(-50%); font-size: 1em; font-weight: bold; transition: .3s;}
.register-link {color: black; text-decoration: none;}
.register {margin-top: 30px;}

/* quando si fa click su un input box (quindi questa ottiene il focus), il label di questa viene shiftato di 5px verso l'alto */
.input-box input:focus~label, .input-box input:valid~label{top: -5px;}

/* quando si passa sopra il link quest'ultimo viene sottolineato*/
.register a:hover    {text-decoration: underline;}
/*
    Panel: contenitore aggiuntivo (puramente estetico), caratteristico delle aree personali (di tutti i livelli di utenza)
    Il Panel può contenere una Toggle List, ovvero una lista di elementi che si può comprimere
 */
.panel {
    background-color: #f5f5f5;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    flex: 1 1 300px;
    height: max-content;
}
/* contenitore che contiene un logo seguito da un titolo */
.title-with-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
.title-with-logo img {max-width: 125px;}
.title-with-logo h2 {margin-left: 25px; font-size: 28px;}

.toggle-list {
    margin-top: 25px;
    text-align: center;
}
.toggle-list ul {list-style: none; margin-bottom: 10px;}
.toggle {cursor: pointer;}
.toggle h2 {font-size: 24px; margin-bottom: 15px;}
.hidden {display: none;}
/* contenitore dei pulsanti di un Panel */
.panel-buttons {text-align: center; padding-top: 30px;}
.panel-buttons .btn {margin: 10px;}

/*---------------------------------------------------
 | Background Inserisci offerte
-----------------------------------------------------*/
.ins-off {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-height: min-content;
    background: #f5f5f5;
    box-shadow: 0 0 5px #ccc;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    overflow: hidden;
    color: black;
    padding: 70px 40px;
    width: 430px;
}
.ins-off-inputdialog {padding: 40px; width: 760px;}
.ins-off-inputdialog .form-row {display: flex; text-align: left; margin-top: 25px; margin-bottom: 15px;}
.ins-off-inputdialog .form-left {width: 50%; padding-right: 18px;}
.ins-off-inputdialog .form-right {width: 50%; padding-left: 18px;}
.ins-off-inputdialog fieldset {border: none;}

.btn-Ins {
    font-size: 1em;
    padding: 8px 20px;
    border-radius: 25px;
}



/*---------------------------------------------------
 | Tabella per la gestione delle F.A.Q./utente/staff
-----------------------------------------------------*/

.tabella {
    border-collapse: collapse;
    width: 100%;
}

.tabella th, td {
    text-align: left;
    padding: 8px;
}

.tabella th {
    background-color: #ddd;
}

.tabella tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabella .checkbox {
    width: 20px;
    height: 20px;
}

.tabella .update-btn {
    background-color: rgb(238, 0, 255);
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
    font-size: .86em;
}

.tabella .update-btn:hover {
    background: #cccccc;
    color: black;
}

.tabella .delete-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 25px;
}

.tabella .delete-btn:hover {
    background: #cccccc;
    color: black;
}

.btn-back {
    /*height: 45px;*/
    cursor: pointer;
    background-color: #d30000;
    text-align: center;
}

.btn-FAQ {
    font-size: 1em;
    padding: 8px 20px;
    border-radius: 25px;
}

.form-insertFAQ label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-insertFAQ textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: .9em;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}

/*-----------------------
 | Footer (pie di pagina
-------------------------*/

/* Il footer è composto da due colonne disposte in orizzontale: per una visualizzazione ottimale
utilizzo la proprietà flex e allineo verticalmente gli elementi contenuti nelle due colonne al centro. */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

/* Le colonne occupano ciascuna il 50% dello spazio (il footer ne contiene 2), e usano la proprietà float:left per essere ancorate
verso sinistra, in modo tale che queste vengono inserite orizzontalmente all'interno del footer. */
.footer-col {
    width: 50%;
    float: left;
    padding: 5px 0;
}

/* Proprietà utilitaria che imposta l'allineamento del testo del tag a cui è applicata a destra. */
.text-right {text-align: right;}

/* Proprietà grafiche dei link del contatto telefonico. Sono contenute anche le prorpietà grafiche dell'icona del telefono
(se presente).
La proprietà vertical-align indica l'allineamento in verticale che l'immagine deve avere rispetto al testo che la segue. */
.phone-link     {color: white; text-decoration: none;}
.phone-link img {width: 20px; vertical-align: middle; color: white;}
