/* --------------------------------------------
    impostazioni di base per tutte le pagine
------------------------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 99;
}

/*
    Navigation Bar (navbar): basata sull'uso del Flexbox Layout (attivabile tramite il valore "flex" di display).
    Viene usata per creare un layout dove gli elementi contenuti in questo si adattano in automatico al loro contenitore
    padre. In questo caso viene usato perchè le due parti della navigation bar devono apparire sulla stessa riga (senza
    spostarsi una sotto l'altra) e gli elementi contenuti devono essere allineati al centro.
    Ognuna delle due colonne contenute occupa il 50% dello spazio.
*/
nav{
    display: flex;
    align-items: center; /* gli elementi contenuti saranno allineati verticalmente al centro */
    text-decoration: none;
}

.navbar-logo-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.navbar-logo  {vertical-align: bottom; width: 60px; margin-right: 10px;}
.navbar-title {display: inline;}

/* gli elementi di questo contenitore sono disposti da destra verso sinistra, anzichè il contrario */
.navbar-links-container {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

nav ul               {display: flex; list-style: none;}
nav ul li            {margin-right: 20px;}

/* l'ultimo elemento della lista non ordinata (UL, Unordered List) non avrà margine a destra, per evitare problemi grafici */
nav ul li:last-child {margin-right: 0;}

nav ul li a          {color: #fff; text-decoration: none; font-size: 1.1em;}
nav ul li a:hover    {text-decoration: underline;}

/*
    Main: è l'area della pagina che contiene il corpo della pagina (quello che viene inserito dinamicamente con Blade e Laravel)
*/
main {margin: 50px 10%;}

/*
    Questa classe grafica conferisce ad ancore (<a>) e pulsanti (<button>) un aspetto estetico da pulsante cliccabile.
*/
.btn {
    background-color: #d35400;
    color: #fff;
    font-size: 18px;
    padding: 13px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;    /* assegna il cursore della "manina" a questo elemento */
    text-decoration: none;
}

/* ----------------------------------------------------
        impostazioni specifiche per home page
----------------------------------------------------- */
.hero-image{
    background-image: url("../images/home_wall.jpeg");
    background-position: bottom;
    background-size: cover;
    text-align: center;
    padding: 100px;
}

.hero-image h1{
    color: antiquewhite;
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-image p{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

.container{
    margin-top: 30px;
}

.container h2{
    text-align: center;
    font-size: 36px;
    /*position: absolute; !*consente di rimuovere un elemento dal flusso naturale della pagina,*/
    /*                      gli altri elementi vengono influenzati e si comportano come*/
    /*                      se l'elemento sia stato completamente rimosso dalla pagina*!*/
    /*margin-bottom: 20px;*/
}


.services{
    /*align-items: start;*/

    /*justify-content: space-between;*/
    /*flex-wrap: wrap; !*imposta se gli elementi flex sono forzati su una riga o possono andare a capo su più righe.*/
    /*                   Se l'avvolgimento è consentito, imposta la direzione in cui le righe vengono impilate.*!*/
    /*flex-direction: row;*/
    /*margin-top: 50px;*/
    /**/
    display: flex;
    flex-wrap: wrap; /*mposta se gli elementi flex sono forzati su una riga o possono andare a capo su più righe.*/
    /*Se l'avvolgimento è consentito, imposta la direzione in cui le righe vengono impilate.*/
    justify-content: center;
    align-items: center;
    /*margin-bottom: 30px;*/
    flex-direction: row;
}

.service{
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    cursor: pointer;

    /*flex: 50%;*/
}

/* l'immagine dell'azienda viene impostata ad una dimensione fissa (150x150 px) e il suo contenuto viene riadattato
automaticamente per evitare che possa apparire stretchato */
.service img{
    width: 150px;
    height: 150px;
    object-fit: scale-down;
    margin-bottom: 20px;
}

.service h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.service p{
    font-size: 16px;
}

.desc{
    padding-top: 20px;
    display: block;
    flex-wrap: wrap; /*mposta se gli elementi flex sono forzati su una riga o possono andare a capo su più righe.*/
    /*Se l'avvolgimento è consentito, imposta la direzione in cui le righe vengono impilate.*/
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: row;
    text-align: center;
}

.desc h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.desc p{
    margin-bottom: 10px;
    font-size: 20px;
}

.desc button{
    background-color: #d35400;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.faq              {margin-top: 17px; text-align: center}
.faq h2           {font-size: 2rem;}
.faq ul           {list-style: none; margin: 0; padding: 0;}
.faq li           {margin: 20px 0;}
.faq .question    {font-size: 1.2rem; font-weight: bold; cursor: pointer;}
.faq .answer      {display: none; font-size: 1rem; padding: 10px;}
.faq .answer.show {display: block;}

/*-----------------------
 | Footer (pie di pagina
-------------------------*/

/* Il footer è composto da due colonne disposte in orizzontale: per una visualizzazione ottimale
utilizzo la proprietà flex e allineo verticalmente gli elementi contenuti nelle due colonne al centro. */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

/* Le colonne occupano ciascuna il 50% dello spazio (il footer ne contiene 2), e usano la proprietà float:left per essere ancorate
verso sinistra, in modo tale che queste vengono inserite orizzontalmente all'interno del footer. */
.footer-col {
    width: 50%;
    float: left;
    padding: 5px 0;
}

/* Proprietà utilitaria che imposta l'allineamento del testo del tag a cui è applicata a destra. */
.text-right {text-align: right;}

/* Proprietà grafiche dei link del contatto telefonico. Sono contenute anche le prorpietà grafiche dell'icona del telefono
(se presente).
La proprietà vertical-align indica l'allineamento in verticale che l'immagine deve avere rispetto al testo che la segue. */
.phone-link     {color: white; text-decoration: none;}
.phone-link img {width: 20px; vertical-align: middle; color: white;}
