.coupon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
}

.coupon {
  background-color: #c7d2ff;
  color: #333;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
